body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    width: 320px;
    background-color: #222;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.display {
    background-color: #000;
    color: #fff;
    text-align: right;
    font-size: 2.5rem;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #444;
}

.operator {
    background-color: #f5923e;
    color: white;
}

.operator:hover {
    background-color: #f57a1a;
}

.function {
    background-color: #a5a5a5;
    color: black;
}

.function:hover {
    background-color: #d4d4d2;
}

.zero {
    grid-column: span 2;
    border-radius: 50px;
}
